.blog{
  margin: 90px 0 -150px;
  .blog__title{
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 2.6px;
    font-weight: 600;
    text-transform: uppercase;
    color:#2d2b27;
    text-align: center;
  }
  .blog__block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .blog__element{
    flex-basis: 48.8%;
    img{
      display: block;
      max-width: 100%;
    }
    .blog__info{
      width: calc(100% - 70px);
      background-color: #fff;
      margin: 0 auto;
      transform: translateY(-50%);
      text-align: center;
      padding: 15px 0;
      .blog__topic{
        a{
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: 0.9px;
          text-transform: uppercase;
          text-decoration: none;
          color: #2d2b27;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      p{
        margin: 3px 0;
      }
      .blog__date{
        color:#7d7d7d;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  
}

@media(max-width:768px){
  .blog{
        margin: 25px auto;    
        .blog__element{
          .blog__info{
            width: calc(100% - 20px);
           .blog__topic{
             a{
              font-size: 13px;
             }
           
           }
          }
        }   
  }
  
  }

  @media(max-width:600px){
    .blog{
      .blog__block{
        margin-top: 25px;
        .blog__element{
          flex-basis: 100%;
          .blog__info{            
          .blog__topic{
            a{
             font-size: 18px;
            }
          
          }
         }
          
        }  
      }
         
    }
    
    }