@mixin btn($bg:#000, $fs:9px , $lh:13px, $ls:0.54px,$br:40px, $w:114px, $clr:#fff) {
  width: $w;
  color: $clr;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  background-color: $bg;
  border-radius: $br;
  padding: 13px 0; 
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin: 25px 0;
  text-decoration: none;
  @content;
  &:hover{
      background-color: lighten($bg, 15%);
  }
}
.featured{
  margin: 90px 0;

.featured__title{
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 2.6px;
  font-weight: 600;
  text-transform: uppercase;
  color:#2d2b27;
  text-align: center;
}
.featured__block{
  display: flex;
  justify-content: space-between;
}
.featured__element{
  flex-basis: 23%;
  img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  p{
    font-size: 15px;
    line-height: 17px;
    margin: 7px 0;
    a{
      font-size: 15px;
      line-height: 17px;
      text-decoration: none;
      color: #000;
      font-weight: 700;
      &:hover{
        text-decoration: underline;
    
      }

    }
  }
  .featured__brand{
    color:  #898989;
  }
  .featured__price{
    font-weight: 700;
    span{
      font-weight: 400;
      text-decoration:line-through;
      margin-right: 10px;
    }
  }
}
.featured__btn{
  $values:(bg:transparent, fs:12px , lh:10px, ls:0.6px,br:60px, w:175px, clr:#000);
  @include btn($values...){
border:2px solid #d9c8aa;
margin: 50px auto;
padding: 18px 0;
font-weight: 700;
  }
}
.owl-carousel .owl-nav button.owl-prev, button.owl-next{
  background: url('img/sprite-arrow2.png') 0 0 no-repeat;
  width: 49px;
  height: 49px;
  border: none;
  box-shadow: none;
  position: absolute;
  left: -75px;
  top: calc(50% - 49px) ;
  cursor: pointer;
  transform: translateY(-50%);  

}

.owl-carousel .owl-nav button.owl-next{
  background: url('img/sprite-arrow2.png') 0 0 no-repeat;
  background-position: -49px 0;
  left:auto;
  right:-75px;
 
}
.owl-carousel .owl-nav button.owl-next:hover{
  background-position: -49px -50px;
}
.owl-carousel .owl-nav button.owl-prev:hover{
  background-position: 0 -49px;  

}  
}
@media(max-width:1320px){
.featured{
  width: calc(100% - 120px);
  margin: 90px auto;
}
}
@media(max-width:768px){
  .featured{
        margin: 25px auto;
  }
  }
