.links{
  background: #f8f8f8;
  padding: 240px 0 90px;
  .links__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .links__element{
    flex-basis: 20%;

  }
  .links__title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #575153;
    text-transform: uppercase;
    margin-bottom: 30px;
   
  }
  a{
    font-size: 14px;
    line-height: 30px;
    color: #a09e9e;
    text-decoration: none;  
    text-transform: capitalize;
    &:hover{
      text-decoration: underline;
    }
  }
  .links__element--contact{
    .links__title--contact{
line-height: 30px;
font-size: 15px;
    }


      span{
font-weight: 700;
color: #000000;
      }
    
  }
}

@media(max-width:860px){
 .links{
 
   .links__wrap{
    justify-content: flex-start;
    .links__element{
      flex-basis: 33%;
      margin: 10px 0;     
    }
   }
    }
  }


  @media(max-width:620px){
    .links{
      padding-top: 30px;     
      .links__wrap{
       justify-content: flex-start;       
      }
          }
     }

     @media(max-width:500px){
      .links{
 
        .links__wrap{
         justify-content: flex-start;
         .links__element{
           flex-basis: 100%;
           text-align: center;
         
         }
        }
         }
       }